@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;

    --app-web-bg: 246, 246, 246;

    --app-black-50: 234, 234, 234;
    --app-black-100: 212, 212, 212;
    --app-black-200: 191, 191, 191;
    --app-black-300: 169, 169, 169;
    --app-black-400: 148, 148, 148;
    --app-black-500: 127, 126, 126;
    --app-black-600: 105, 105, 105;
    --app-black-700: 84, 84, 84;
    --app-black-800: 62, 62, 62;
    --app-black-900: 41, 41, 41;

    --app-primary-50: 233, 255, 241;
    --app-primary-100: 204, 255, 224;
    --app-primary-200: 172, 233, 193;
    --app-primary-300: 130, 223, 162;
    --app-primary-400: 89, 212, 131;
    --app-primary-500: 47, 201, 100;
    --app-primary-600: 38, 161, 80;
    --app-primary-700: 28, 121, 60;
    --app-primary-800: 19, 80, 40;
    --app-primary-900: 9, 40, 20;

    --app-primary-light-50: 47, 201, 100, 0.03;

    --app-orange-50: 255, 245, 230;
    --app-orange-100: 255, 174, 51;

    --app-blue-50: 233, 249, 255;
    --app-blue-100: 234, 244, 254;
    --app-blue-200: 77, 166, 243;
    --app-blue-300: 47, 118, 201;

    --app-purple-50: 241, 239, 252;
    --app-purple-100: 144, 122, 237;

    --app-mint-50: 233, 249, 250;
    --app-mint-100: 71, 209, 213;

    --app-gray-50: 251, 251, 251;
    --app-gray-100: 250, 250, 250;
    --app-gray-200: 241, 241, 241;
    --app-gray-300: 232, 232, 232;

    --app-alert: 0, 0, 0, 0.3;
    --app-toast: 0, 0, 0, 0.75;
    --app-tooltip: 0, 0, 0, 0.65;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    ::-webkit-calendar-picker-indicator {
      display: none;
    }
    ::-webkit-date-and-time-value {
      text-align: left;
    }
  }

  body {
    @apply bg-background text-foreground;
  }

  input,
  textarea {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  textarea {
    resize: none;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 0.45rem;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300;
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }
}

@media screen and (max-width: 500px) {
  * {
    scrollbar-width: 0px;
    ::-webkit-scrollbar {
      display: none;
    }
  }
}
